<template>
  <div class="createbuzzcard">
    <Header title="Erstelle eine Buzzword-Karte" msg="Schreibe in jedes Feld einen Begriff, der die Person wahrscheinlich sagen wird." :title_right="'Spielcode: ' + game.code" />
    <CardGrid :cards="cards" :size="gamesize" :editable="editable" :countable="countable" />
    <div class="container">
        <b-button @click="startGame()" size="lg" variant="outline-primary" class="submit-button">Spiel starten</b-button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import CardGrid from "@/components/CardGrid.vue";
import Header from "@/components/Header.vue";
import {GAME_LEVEL} from "@/constants/game-level";
import Difficulty from '@/constants/difficulty';
import { mapState, mapActions } from 'vuex'

export default {
    name: "createbuzzwordcard",
    components: {
        Header,
        CardGrid
    },
    data() {
        return {
            editable: true,
            countable: false,
            gamesize: 3,
            cards: []
        };
    },
    mounted () {
        this.init()
    },
    methods: {
        ...mapActions (['createCards']),
        startGame: function() {
            for(let c of this.cards){
                c.xPosition = c.x;
                c.yPosition = c.y
            }
            var createCardsRequest = { 
                gameCode: this.game.code, 
                nickName: this.game.nickName, 
                card: {
                    accept: true,
                    buzzWords: this.cards
                }
            }
            this.createCards(createCardsRequest).then(res => {
                    this.$router.push('/playGame')
                }).catch(err => {
                    if (this.$store.state.errors.length >= 1) {
                        let errorMsg = this.$store.state.errors[0]
                        alert(errorMsg)
                    }
                })
        },
        init: function() {
            this.gamesize = this.getGameSize()
            this.generateCards()
        },
        getGameSize: function() {
            if (this.game.level === Difficulty.EASY) {
                return 3
            }
            else if (this.game.level === Difficulty.MEDIUM) {
                return 4
            }
            else if (this.game.level === Difficulty.HEAVY) {
                return 5
            }
        },
        generateCards: function() {
            for (var x = 0; x < this.gamesize; x++) {
                for (var y = 0; y < this.gamesize; y++) {
                    let id = "card" + x + y
                    let card =  { x: x, y: y, w: 1, h: 1, i: id, buzzWord: "", edit: false, counter: 0 }
                    this.cards.push(card)
                }
            }
        },
    },
    computed: {
        ...mapState ({
            game: state => state.game,
        }),
    },
};
</script>

<style scoped>
.submit-button {
    margin-left: 1rem;
}
</style>
