<template>
  <div class="startgame">
    <Header title="Spiel beitreten" msg="" title_right="" />
    <div class="container">
        <b-form @submit="onSubmit" v-if="show">
            <b-form-group
                id="gamecode-group"
                label="Spielcode:"
                label-for="gamecode"
                >
                <b-form-input
                    id="gamecode"
                    v-model="form.gamecode"
                    type="text"
                    required
                    placeholder="Spielcode eingeben">
                </b-form-input>
            </b-form-group>
            <b-form-group
                id="nickname-group"
                label="Nickname:"
                label-for="nickname"
                >
                <b-form-input
                    id="nickname"
                    v-model="form.nickname"
                    type="text"
                    required
                    placeholder="Nickname eingeben">
                </b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Spiel beitreten</b-button>
        </b-form>
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import { mapState } from 'vuex'

export default {
    name: 'joingame',
    components: {
        Header
    },
    data: () => {
        return {
            form: {
                gamecode: '',
                nickname: '',
            },
            show: true,
        }
    },
    methods: {
        onSubmit: function(evt) {
            evt.preventDefault();
            let joinGameRequest = {
                gameCode: this.form.gamecode,
                nickName: this.form.nickname,
            }
            this.$store.dispatch('joinGame', joinGameRequest).then(res => {
                    this.$router.push('/createbuzzwordcard')
                }).catch(err => {
                    if (this.$store.state.errors.length >= 1) {
                        let errorMsg = this.$store.state.errors[0]
                        alert(errorMsg)
                        this.$store.state.errors = null
                    }
                })
        },
    },
    computed: {
        ...mapState ({
        gameCode: state => state.game.code,
        gameName: state => state.game.name,
        }),
    },
}
</script>

<style scoped>
.start-button {
  margin-top: 2rem;
}
</style>
