<template>
    <div class="container">        
        <grid-layout
            :layout.sync="cards"
            v-bind:col-num="size"
            v-bind:max-rows="size"
            :row-height="150"
            v-bind:is-draggable="editable"
            :is-resizable="false"
            :is-mirrored="false"
            :vertical-compact="false"
            :margin="[10, 10]"
            :use-css-transforms="true"
            @layout-updated="layoutUpdatedEvent"
            >
            <grid-item v-for="item in cards"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i"
                :key="item.i"
                @moved="movedEvent"
                >
                <div class="pad-card">
                    <div class="card" @click="countWord(item)" :class="{ 'bg-success': item.counter > 0 }">
                        <span class="badge badge-pill badge-danger text-center shadow notify-icon" v-if="item.counter > 0" >
                            {{ item.counter }}
                        </span>
                        <div class="card-body vertical-center" >
                            <p  v-if="!editable" 
                                @click="editItem(item)" 
                                class="text-center align-text">
                                {{ item.buzzWord }}
                            </p>
                            <input 
                                v-focus 
                                v-if="editable" 
                                @blur="item.edit = false" 
                                type="text" 
                                class="text-center form-control"
                                placeholder="Gib ein Buzzword ein"
                                v-model="item.buzzWord" 
                                name="word" />
                        </div>
                    </div>            
                </div>    
            </grid-item>
        </grid-layout>
    </div>
</template>

<script>
import VueGridLayout from 'vue-grid-layout';

export default {
    name: 'CardGrid',
    data() { 
        return {
        }
    },
    props: {
        cards: Array,
        size: Number,
        editable: Boolean,
        countable: Boolean
    },
    directives: {
        focus: {
            // directive definition
            inserted: function (el) {
                el.focus()
            }
        }
    },
    components: {
        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem,
    },
    computed: {
       
    },
    methods: {
        movedEvent (i, newX, newY) {
            this.$emit('moved', i, newX, newY);
        },
        countedEvent (item) {
            this.$emit('counted', item);
        },
        editItem (item){
            if (this.editable){
                item.edit = true
            }
        },
        countWord (item) {
            if (!this.editable && this.countable){
                item.counter++
                this.countedEvent(item)
            }
        },
        layoutUpdatedEvent (newcards) {
            for (var card of newcards){
                if (card.y >= this.size){
                    var emptyPosition = this.findEmptyPositon(newcards)
                    card.y = emptyPosition.y
                    card.x = emptyPosition.x
                }
            }
        },
        findEmptyPositon (newcards) {
            var occuredPositions = []
            var specifiedPositions = []
            var emptyPosition = { x: 0, y: 0 }
            for (var card of newcards) {
                occuredPositions.push({'x': card.x , 'y': card.y })
            }
            for (var x = 0; x < this.size; x++) {
                for (var y = 0; y < this.size; y++){
                    specifiedPositions.push({'x': x, 'y': y})
                }
            }
            for (var pos of specifiedPositions) {
                if (occuredPositions.find(element => element.x === pos.x && element.y === pos.y) == null ) {
                    emptyPosition.x = pos.x
                    emptyPosition.y = pos.y
                }
            }
            return emptyPosition
        },
    }
}
</script>

<style scoped>
.pad-card {
    padding: 5px;    
    height: 100%;
    width: 100%;
}

.pad-card .card {
    height: 100%;
    width: 100%;
}

.pad-card .card input {
    max-width: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.align-text {
    width: 100%;
    margin: 0;
}

.notify-icon {
    width: 2rem;
    max-width: 3rem;
    margin: 1rem;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
}

</style>
